<!-- Hero Section -->
<section class="bg-img text-white text-center py-5">
    <div class="container">
      <h1>Celebrate with Us</h1>
      <p class="lead">From grand Holi celebrations to professional workshops, our events are designed to bring people together.
      </p>
    </div>
  </section>
  
  <!-- Services Grid Section -->
  <section class="py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4 mb-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <i class="bi bi-briefcase-fill display-4 text-primary mb-3"></i>
              <h4 class="card-title">Holi Celebration 2025
              </h4>
              <i>(In collaboration with UP Harmony)</i>
              <p class="card-text">
                Date: Fri, Mar 14, 2025 <br>
                Venue: Livingston Block, Edison NJ 08820
              </p>
              <p>
                <img src="https://www.thepalaceonwheels.org/storage/mathura%20holi.jpg" width="320 px;">
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <i class="bi bi-code-slash display-4 text-primary mb-3"></i>
              <h4 class="card-title">Diwali </h4>
              <i>(In collaboration with UP Harmony)</i>
              <p class="card-text">
                Date: Sat, Oct 18, 2025 – Thu, Oct 23, 2025 <br>
                Venue: Livingston Block, Edison NJ 08820
              </p>
              <p>
              <img src="https://t3.ftcdn.net/jpg/06/31/60/14/240_F_631601401_3fR15nTZOIkY2jCabgdFyvJZ8smUP1PX.jpg" width="320 px;" height="320 px;">
            </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <i class="bi bi-bar-chart-line-fill display-4 text-primary mb-3"></i>
              <h4 class="card-title">Raksha Bandhan 2025</h4>
              <i>(In collaboration with UP Harmony)</i>
              <p class="card-text">
                Date: Sat, Aug 09, 2025<br>
                Venue: Livingston Block, Edison NJ 08820
              </p>
              <p>
                <img src="https://images.moneycontrol.com/static-mcnews/2024/08/20240808074846_Daily-Horoscope-6.png" width="320 px;" height="320 px;">
              </p>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </section>
  
  <!-- Call to Action Section -->
  <section class="bg-secondary text-white text-center py-5">
    <div class="container">
      <h2>Ready to Work with Us?</h2>
      <p class="lead mb-4">Contact us today and take the first step towards achieving your goals.</p>
      <a href="/contact" class="btn btn-primary btn-lg">Contact Us</a>
    </div>
  </section>