
  <!-- Hero Section -->
 
  <header class="text-white text-center">
    <video width="100%" autoplay muted loop playsinline>
      <source src="assets/Bharat-Samaj.mp4" type="video/mp4">
      Your browser does not support HTML video.
    </video>
  </header>
  
  <!-- Features Section -->
    <section id="features" class="py-5">
      <div class="container text-center">
          <h2 class="mb-5 title">Our Values & Features</h2>

          <div class="row d-flex flex-column flex-md-row mt-5 mb-5">
              <div class="col-md-6">
                  <img src="../../../assets/celebrate.png" class="img-fluid" alt="Celebrate">
              </div>
              <div class="col-md-6 d-flex align-items-center">
                  <div class="text-section my-4">
                      <h5 class="sub-title">Celebrate, Connect, and Grow Together</h5>
                      <p>As Hindus, our traditions teach us the beauty of celebrating life's moments with joy, gratitude, and devotion. Whether it’s through the vibrant lights of Diwali, the colors of Holi, or the meditative silence of a temple visit.</p>
                  </div>
              </div>
          </div>

          <div class="row d-flex flex-column-reverse flex-md-row">
              <div class="col-md-6 d-flex align-items-center">
                  <div class="text-section my-4">
                      <h5 class="sub-title">Building Bridges & Celebrating Culture Together</h5>
                      <p>It's a space that bridges the distance, offering comfort, unity, and a sense of belonging. Truly, Hind is a home away from home, where our roots remain strong, and our spirits find peace.</p>
                  </div>
              </div>
              <div class="col-md-6">
                  <img src="../../../assets/celerate1.png" class="img-fluid" alt="Celebrate">
              </div>
          </div>

          <div class="row d-flex flex-column flex-md-row ">
              <div class="col-md-6">
                  <img src="../../../assets/celebrate2.png" class="img-fluid" alt="Celebrate">
              </div>
              <div class="col-md-6 d-flex align-items-center">
                  <div class="text-section my-4">
                      <h5 class="sub-title">Celebrate, Connect, and Grow Together</h5>
                      <p>As Hindus, our traditions teach us the beauty of celebrating life's moments with joy, gratitude, and devotion. Whether it’s through the vibrant lights of Diwali, the colors of Holi, or the meditative silence of a temple visit.</p>
                  </div>
              </div>
          </div>

          <div class="row d-flex flex-column-reverse flex-md-row ">
              <div class="col-md-6 d-flex align-items-center">
                  <div class="text-section my-4">
                      <h5 class="sub-title">Celebrating Our Culture Together</h5>
                      <p>We honor our rich heritage and shared values. These celebrations become more meaningful when we connect with one another, fostering a sense of belonging and unity. Together, we grow—not just spiritually, but as a community—by supporting each other, sharing wisdom, and passing on our timeless traditions to future generations. Let us come together to celebrate, connect, and grow, strengthening the bonds that make our faith and culture thrive.</p>
                  </div>
              </div>
              <div class="col-md-6">
                  <img src="../../../assets/celebrate3.png" class="img-fluid" alt="Celebrate">
              </div>
          </div>

      </div>
  </section>



  