<!-- Hero Section -->
<section class="bg-img text-white text-center py-5">
    <div class="container">
      <h1>Bharat Harmony & Hindi Harmony</h1>
      <p class="lead">Bharat Harmony: Embracing Every Voice</p>
    </div>
  </section>
  
  <!-- Mission and Values Section -->
  <section class="py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h2>Cultural Harmony
          </h2>
          <p>
            Bharat Harmony is a branch of Bharat Samaj, focusing on empowering common connect among members such as through Hindi (optional for people to join) while promoting cross-cultural collaboration. Together, we aim to channel the energy and strength of our diverse backgrounds.
          </p>
          <p>
            Bharat Samaj operates through several initiatives to cater to diverse community needs:

          </p>
          
           <ul>
            <li><b>Bharat Harmony:</b> Focused on uniting all Indians in the USA under one platform.
            </li>
            <li><b>Hindi Harmony:</b> A dedicated effort to support Hindi-speaking members, preserving the language and culture.
            </li>
           </ul>
          
          <p>
          Each initiative works independently while supporting Bharat Samaj's mission of inclusivity and growth.
        </p>
        
        </div>
        <div class="col-md-6">
           
          <!-- <img src="https://as1.ftcdn.net/v2/jpg/05/14/95/12/1000_F_514951201_vcaY39rJvoRGPJxL62UbAAFXbxLnBlkY.jpg" alt="Mission Image" class="img-fluid rounded"> -->
          <!-- <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202501/celebrate-makar-sankranti-at-home-step-by-step-guide-for-a-joyful-festival-141259401-16x9_0.jpg?VersionId=8XGgPbEudNp3MRpA2Ki0RkjlRhA9XQUb&size=690:388" alt="Bharat Harmony Image" class="img-fluid rounded"> -->
         <img src="../../../assets/bharharmony.jpg" height="350 px;" width="500px;">
        </div>
      </div>
    </div>
  </section>
 