/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";

// .bghomeimg {
//     background-image: url('https://media.istockphoto.com/id/1297933144/vector/vector-illustration-of-indian-tricolor-flag-background.jpg?s=612x612&w=0&k=20&c=tCd-ZdLMNHw_KAMZTX9zStqEDdWzXlS6FYrvjrZIswk=');
// }
body{
    font-family: sans-serif;
}
.bghomeimg{
    //background: linear-gradient(to bottom, #FF8636, #ffc10752);
    background: #ff994d;
}
.bg-img{
    background: linear-gradient(to bottom, #FF8636, #ffc10752); 
    //background: linear-gradient(to bottom, #f16a14f7, #e0c29fab);
   // background:#FF8636;
}

